/**
These base styles are from https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/styles.css
and adapted to fit Tailwind
 */
 
 .tooltip-container {
    --tooltip-bg: theme('colors.surface.3');
    @apply shadow-elevation bg-[var(--tooltip-bg)];
}

.tooltip-container[data-popper-interactive='false'] {
    @apply pointer-events-none;
}

.tooltip-arrow {
    @apply h-4 w-4 absolute pointer-events-none;
}

.tooltip-arrow::after {
    @apply border-solid block m-auto h-0 w-0;
    content: '';
}

.tooltip-arrow::before {
    @apply border-solid block m-auto h-0 w-0;
    content: '';
}

.tooltip-container[data-popper-placement*='bottom'] .tooltip-arrow {
    @apply -top-1.5;
}

.tooltip-container[data-popper-placement*='bottom'] .tooltip-arrow::after {
    @apply border-[transparent_transparent_var(--tooltip-bg)_transparent];
    border-width: 0 .5rem .4rem .5rem;
}

.tooltip-container[data-popper-placement*='top'] .tooltip-arrow {
    @apply -bottom-4;
}

.tooltip-container[data-popper-placement*='top'] .tooltip-arrow::after {
    @apply border-[var(--tooltip-bg)_transparent_transparent_transparent];
    border-width: .4rem .5rem 0 .5rem;
}

.tooltip-container[data-popper-placement*='right'] .tooltip-arrow {
    @apply -left-2.5;
}

.tooltip-container[data-popper-placement*='right'] .tooltip-arrow::after {
    @apply border-[transparent_var(--tooltip-bg)_transparent_transparent];
    border-width: .5rem .4rem .5rem 0;
}

.tooltip-container[data-popper-placement*='left'] .tooltip-arrow {
    @apply -right-2.5;
}

.tooltip-container[data-popper-placement*='left'] .tooltip-arrow::after {
    @apply border-[transparent_transparent_transparent_var(--tooltip-bg)];
    border-width: .5rem 0 .5rem .4rem;
}