@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*Remove default outline that occurs on focus of different elements*/
  input,
  button,
  div,
  img,
  ul,
  a {
    @apply outline-none focus:outline-none active:outline-none;
  }

  /* Fixes current issues with `/next/image` component
        see 'https://github.com/tailwindlabs/tailwindcss/discussions/9748' */
  img,
  video {
    @apply max-w-none;
    @apply h-max;
  }

  ::-webkit-scrollbar {
    @apply h-1 w-1 rounded-2xl bg-transparent;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-stroke rounded-2xl;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-surface-2;
  }

  input {
    /* Fixes rounded borders on inputs on Mobile */
    border-radius: 0;
    -webkit-border-radius: 0;
  }

  input[type='number'] {
    -webkit-appearance: textfield;
    appearance: textfield;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {
}

@layer utilities {
  .title-text {
    /*tracking-normal to override tighter letter-spacing applied to Blitz*/
    @apply font-title font-medium tracking-normal;
  }
}
