@import './base.css';
@import '@vertex-protocol/web-ui/styles/ui-kit-styles.css';

@layer base {
  img {
    @apply pointer-events-none select-none;
    -webkit-user-drag: none;
  }

  button:focus,
  a:focus {
    @apply outline-hidden;
  }

  button:focus-visible,
  a:focus-visible {
    @apply outline-hidden;
  }

  button:focus:not(:focus-visible),
  a:focus:not(:focus-visible) {
    @apply shadow-none outline-hidden;
  }

  #vrtx-lottie #circle {
    filter: blur(20px);
  }
}
