.react-datepicker {
  background-color: var(--color-surface-2);
  font-size: var(--text-xs);
  font-family: inherit;
  border-color: var(--color-stroke);
}

.react-datepicker__day-names > *,
.react-datepicker__week > * {
  /* Add spacing between date buttons */
  margin: 0 var(--spacing);
}

/* Header includes the Mon/Tues/Wed/etc. headers */
.react-datepicker__header {
  /*Use the bg color of the root class*/
  background-color: transparent;
  color: var(--color-text-primary);
  border: none;
  padding-bottom: 0;
}

/* Default style for buttons */
.react-datepicker__day-name,
.react-datepicker__day {
  color: var(--color-text-secondary);
}

/* Selected date, use !important to override any hover styles as well */
.react-datepicker__day--selected {
  background-color: var(--color-primary) !important;
  color: var(--color-text-primary) !important;
}

/* Days outside of the month / outside of allowable range */
.react-datepicker__day--outside-month,
.react-datepicker__day--disabled {
  color: var(--color-disabled);
}

/* Hover selection effect */
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:not(
    .react-datepicker__day--disabled,
    .react-datepicker__day--selected
  ):hover {
  background-color: var(--color-surface-3);
  filter: brightness(1.25);
}
